#version - deprecated
#version: '3.8'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/app/collected_static
      - media:/app/media

  frontend:
    build: ./frontend
    volumes:
      - static:/app/static

  gateway:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static:/var/html/static:ro
      - media:/var/html/media:ro
    depends_on:
      - backend
      - frontend
