# version: '3.8' - deprecated

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - kittygram_network

  backend:
    image: indeicheg/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - postgres
    networks:
      - kittygram_network

  frontend:
    image: indeicheg/kittygram_frontend:latest
    volumes:
      - static:/app/static
    networks:
      - kittygram_network

  gateway:
    image: indeicheg/kittygram_gateway:latest
    ports:
      - "80:80"
    volumes:
      - static:/var/html/static:ro
      - media:/var/html/media:ro
    depends_on:
      - backend
      - frontend
    networks:
      - kittygram_network

networks:
  kittygram_network:
    driver: bridge